.number-pad {
  //   display: flex;
  //   flex-direction: column;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(4, 1fr);
  // gap: 10px;
  width: 70%;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;

  > button {
    padding: 10px;
  }
  .new-game-button {
    background-color: #5c7cc3;
    color: #f0f0f0;
  }
}

.delete-Icon {
  width: 20px;
  height: 20px;
}

.number-pad button {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  background-color: #ebeff5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}
.number-pad button:hover {
  background-color: #d3e0f5; /* Change background color on hover */
}

.number-pad button:active {
  background-color: #c0c8e5; /* Change background color when clicked */
  transform: scale(0.95); /* Slightly scale down for click effect */
}